<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Top Nav Bar -->
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            FRIEND
            <br />
            TAS
            <br />
            TIC
          </div>
        <% end %>
      </div>
      <div class="col col-sm-4 hidden-xs-down slogan">
        Splurting out friend quotes out of context since 2019
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
        <!-- Button trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'About', about_path %>
      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying, label: "What is the saying you want to add?", placeholder: "Between 3 and 400 characters." %>
              <br />
              <%= f.input :author, label: "Who is the author of the quote?", placeholder: "Between 3 and 40 characters." %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Create', class: 'btn btn-info' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <hr />

    <br class="clear" />

    <!-- Alert -->
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= link_to "I need more quotes", root_path, class: 'next-quote' %>
          </div>
          <div class="col-12 col-sm-6 footer-blurb">
            Proudly hacked by <a href="https://rosyarreola.netlify.com">Rosy Arreola</a> <br />
            Want to build your own Splurty App - <a href="https://techbootcamps.utexas.edu/coding/online/landing/?tc_ver=1&s=Google-Brand&pkw=ut%20austin%20coding%20bootcamp&pcrid=397231697230&pmt=e&utm_source=google&utm_medium=cpc&utm_campaign=GGL%7CUT-Austin%7CSEM%7CCODING%7C-%7CONL%7CTIER-1%7CALL%7CBRD%7CEXACT%7CCore%7CBootcamp&utm_term=ut%20austin%20coding%20bootcamp&utm_content=397231697230&s=google&k=ut%20austin%20coding%20bootcamp&gclid=EAIaIQobChMI16eEysjL5wIVh5OzCh03vAWNEAAYASAAEgKc8PD_BwE&gclsrc=aw.ds">Learn how to code here</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
